body{
    background: linear-gradient(blue,pink,purple,blanchedalmond) 
}
.heading{
    font-size: 25px;
}
#camera,#result{
    width: 350px;
    height: 300px;
    border:2px dashed blue;
    
}